.table-width{
    width: 50%;
    height: 60%;
    

}

input[type="text"], input[type="number"] {
    width: 25%;
    box-sizing: border-box;

}
.inputs{
    display: flex;
    margin-bottom: 0.2rem;
}

.tableCal td {
    text-align: center;
    min-height: 10000rem;
}


